//ANCHOR TAG/LINK -- Animated arrow
.animated-arrow-link {
    & i[class^="icon-hs-arrow"] {transition: all ease-out 0.3s; margin-left: 0; display: inline-block;}

    &:hover i[class^="icon-hs-arrow"] {margin-left: 0.5rem;}
}

//"Scroll into view" component animations
.scroll-up-hidden, .scroll-ltor-hidden, .scroll-rtol-hidden {
    opacity: 0; transition: all 0.5s; filter: blur(0.5rem);

    @media(prefers-reduced-motion) {
        transition: none;
    }
}

.show-element {opacity: 1; filter: blur(0);}

.scroll-up-hidden {
    transform: translateY(200px);

    &.show-element {transform: translateY(0);}
}
.scroll-ltor-hidden {
    transform: translateX(-100%);
}
.scroll-rtol-hidden {
    transform: translateX(100%);
}
.scroll-ltor-hidden, .scroll-rtol-hidden {
    &.show-element{transform: translateX(0);}
}
.scroll-up-hidden, .scroll-ltor-hidden, .scroll-rtol-hidden {
    &:nth-child(1) {transition-delay: 0ms;}
    &:nth-child(2) {transition-delay: 200ms;}
    &:nth-child(3) {transition-delay: 400ms;}
    &:nth-child(4) {transition-delay: 600ms;}
    &:nth-child(5) {transition-delay: 800ms;}
    &:nth-child(6) {transition-delay: 1000ms;}
}