//ANCHOR TAG/LINK -- Animated arrow
.animated-arrow-link {
    & i[class^="icon-hs-arrow"] {transition: all ease-out 0.3s; margin-left: 0; display: inline-block;}

    &:hover i[class^="icon-hs-arrow"] {margin-left: 0.5rem;}
}