html {background: 0 0;}

body {
    color: $body-color;
    background-color: $light;
    text-align: left;

    & .homeserve-thin {
        font-family: $font-family-thin-stack;}
    & .homeserve-medium {
        font-family: $font-family-medium-stack}
    & .homeserve-thick {
        font-family: $font-family-thick-stack}
    & .homeserve-extrathick {
        font-family: $font-family-extrathick-stack}
}

main {margin-bottom: 4rem;}

//Section spacer
.section-spacer {
    padding-bottom: $section-spacer;

    &.section-spacer-top {padding-top: $section-spacer-top;}
}