[class^="icon-hs"],
[class*=" icon-hs"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'HomeServe-Icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    cursor: default;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hs-boiler-cleanse:before {
    content: "\e9bc";
}

.icon-hs-thermostat-1:before {
    content: "\e9bd";
}

.icon-hs-thermostat-2:before {
    content: "\e9be";
}

.icon-hs-circle-star:before {
    content: "\e9b3";
}

.icon-hs-footsteps:before {
    content: "\e9b4";
}

.icon-hs-quick-time:before {
    content: "\e9b5";
}

.icon-hs-handshake:before {
    content: "\e9b6";
}

.icon-hs-plant:before {
    content: "\e9b7";
}

.icon-hs-recycle:before {
    content: "\e9b8";
}

.icon-hs-wrench:before {
    content: "\e9b9";
}

.icon-hs-spanner:before {
    content: "\e9ba";
}

.icon-hs-notification:before {
    content: "\e9bb";
}

.icon-hs-bullet-point:before {
    content: "\e9b2";
}

.icon-hs-open-in-new:before {
    content: "\e9b1";
}

.icon-hs-play-video:before {
    content: "\e9b0";
}

.icon-hs-guarantee:before {
    content: "\e9a9";
}

.icon-hs-calendar-empty:before {
    content: "\e9aa";
}

.icon-hs-calendar-event:before {
    content: "\e9ab";
}

.icon-hs-calendar-today:before {
    content: "\e9ac";
}

.icon-hs-other-other:before {
    content: "\e9ad";
}

.icon-hs-tap-other-fast:before {
    content: "\e9ae";
}

.icon-hs-tap-other-medium:before {
    content: "\e9af";
}

.icon-hs-no-hidden-costs:before {
    content: "\e9a8";
}

.icon-hs-gas-flame:before {
    content: "\e9a4";
}

.icon-hs-smelly-drain:before {
    content: "\e9a5";
}

.icon-hs-no-cold-water:before {
    content: "\e9a6";
}

.icon-hs-other:before {
    content: "\e9a7";
}

.icon-hs-claims-back:before {
    content: "\e9a0";
}

.icon-hs-upgrade-cover:before {
    content: "\e9a1";
}

.icon-hs-appliance:before {
    content: "\e9a2";
}

.icon-hs-new-appliance:before {
    content: "\e9a3";
}

.icon-hs-leaking-radiator:before {
    content: "\e99f";
}

.icon-hs-downstairs:before {
    content: "\e99d";
}

.icon-hs-upstairs:before {
    content: "\e99e";
}

.icon-hs-radio-button-on:before {
    content: "\e99b";
}

.icon-hs-radio-button-off:before {
    content: "\e99c";
}

.icon-hs-locks-keys:before {
    content: "\e985";
}

.icon-hs-mice-rats:before {
    content: "\e986";
}

.icon-hs-challenging-times:before {
    content: "\e987";
}

.icon-hs-external:before {
    content: "\e988";
}

.icon-hs-internal:before {
    content: "\e989";
}

.icon-hs-roof-damage:before {
    content: "\e98a";
}

.icon-hs-stop-tap:before {
    content: "\e98b";
}

.icon-hs-leaking-boiler:before {
    content: "\e98c";
}

.icon-hs-no-heating:before {
    content: "\e98d";
}

.icon-hs-noisy-boiler:before {
    content: "\e98e";
}

.icon-hs-noisy-radiator:before {
    content: "\e98f";
}

.icon-hs-no-hot-water:before {
    content: "\e990";
}

.icon-hs-no-lighting:before {
    content: "\e991";
}

.icon-hs-no-power:before {
    content: "\e992";
}

.icon-hs-sink:before {
    content: "\e993";
}

.icon-hs-tap:before {
    content: "\e994";
}

.icon-hs-tap-other:before {
    content: "\e995";
}

.icon-hs-blockage:before {
    content: "\e996";
}

.icon-hs-drain:before {
    content: "\e997";
}

.icon-hs-toilet:before {
    content: "\e998";
}

.icon-hs-book-manual:before {
    content: "\e999";
}

.icon-hs-leak:before {
    content: "\e99a";
}

.icon-hs-add-to-calendar:before {
    content: "\e984";
}

.icon-hs-compare-cover:before {
    content: "\e983";
}

.icon-hs-included:before {
    content: "\e978";
}

.icon-hs-compare:before {
    content: "\e92c";
}

.icon-hs-arrow-back:before {
    content: "\e916";
}

.icon-hs-arrow-downward:before {
    content: "\e934";
}

.icon-hs-arrow-forward:before {
    content: "\e93c";
}

.icon-hs-arrow-upward:before {
    content: "\e94e";
}

.icon-hs-link:before {
    content: "\e900";
}

.icon-hs-link-off:before {
    content: "\e906";
}

.icon-hs-menu-other:before {
    content: "\e90c";
}

.icon-hs-contact-email:before {
    content: "\e90d";
}

.icon-hs-cross-outline:before {
    content: "\e90e";
}

.icon-hs-notification-important:before {
    content: "\e90f";
}

.icon-hs-pdf:before {
    content: "\e929";
}

.icon-hs-phone-android:before {
    content: "\e92a";
}

.icon-hs-phone-iphone:before {
    content: "\e92b";
}

.icon-hs-place:before {
    content: "\e92f";
}

.icon-hs-remove:before {
    content: "\e931";
}

.icon-hs-search:before {
    content: "\e933";
}

.icon-hs-settings:before {
    content: "\e937";
}

.icon-hs-smart-watch:before {
    content: "\e93b";
}

.icon-hs-tablet-android:before {
    content: "\e942";
}

.icon-hs-tablet-mac:before {
    content: "\e94c";
}

.icon-hs-textfields:before {
    content: "\e956";
}

.icon-hs-thumbs-up:before {
    content: "\e957";
}

.icon-hs-tick-outline:before {
    content: "\e958";
}

.icon-hs-username:before {
    content: "\e959";
}

.icon-hs-devices:before {
    content: "\e95a";
}

.icon-hs-devices-other:before {
    content: "\e95b";
}

.icon-hs-electrics-usa:before {
    content: "\e95c";
}

.icon-hs-error:before {
    content: "\e95d";
}

.icon-hs-error-outline:before {
    content: "\e95e";
}

.icon-hs-excluded:before {
    content: "\e95f";
}

.icon-hs-expand:before {
    content: "\e960";
}

.icon-hs-heating-cooling:before {
    content: "\e961";
}

.icon-hs-home:before {
    content: "\e962";
}

.icon-hs-laptop-mac:before {
    content: "\e963";
}

.icon-hs-licensed-technician:before {
    content: "\e964";
}

.icon-hs-locked:before {
    content: "\e965";
}

.icon-hs-more:before {
    content: "\e966";
}

.icon-hs-parts-labour:before {
    content: "\e967";
}

.icon-hs-year-guarantee:before {
    content: "\e968";
}

.icon-hs-year-guarantee-2:before {
    content: "\e96a";
}

.icon-hs-all-day-helpline:before {
    content: "\e96b";
}

.icon-hs-add-comment:before {
    content: "\e96c";
}

.icon-hs-alert-outline:before {
    content: "\e96d";
}

.icon-hs-email-alternate:before {
    content: "\e982";
}

.icon-hs-apps:before {
    content: "\e971";
}

.icon-hs-blog:before {
    content: "\e972";
}

.icon-hs-collapse:before {
    content: "\e97d";
}

.icon-hs-combo-plan:before {
    content: "\e97e";
}

.icon-hs-desktop-laptop:before {
    content: "\e97f";
}

.icon-hs-desktop-mac:before {
    content: "\e980";
}

.icon-hs-desktop-windows:before {
    content: "\e981";
}

.icon-hs-chevron-right:before {
    content: "\e97c";
}

.icon-hs-visibility-on:before {
    content: "\e97a";
}

.icon-hs-visibility-off:before {
    content: "\e97b";
}

.icon-hs-secure-shield:before {
    content: "\e979";
}

.icon-hs-arrow-link:before {
    content: "\e978";
}

.icon-hs-instagram:before {
    content: "\e977";
}

.icon-hs-chevron-down:before {
    content: "\e975";
}

.icon-hs-chevron-up:before {
    content: "\e976";
}

.icon-hs-chevron-left:before {
    content: "\e974";
}

.icon-hs-notification-active:before {
    content: "\e973";
}

.icon-hs-boiler-replacement-promise:before {
    content: "\e972";
}

.icon-hs-electric-heating:before {
    content: "\e971";
}

.icon-hs-change-appointment:before {
    content: "\e96f";
}

.icon-hs-cancel-appointment:before {
    content: "\e970";
}

.icon-hs-star-half:before {
    content: "\e96e";
}

.icon-hs-he-guarantee:before {
    content: "\e956";
}

.icon-hs-he-review:before {
    content: "\e957";
}

.icon-hs-he-expert:before {
    content: "\e958";
}

.icon-hs-he-bathrooms:before {
    content: "\e959";
}

.icon-hs-he-builder:before {
    content: "\e95a";
}

.icon-hs-he-carpenter:before {
    content: "\e95b";
}

.icon-hs-he-driveways:before {
    content: "\e95c";
}

.icon-hs-he-electrician:before {
    content: "\e95d";
}

.icon-hs-he-flooring:before {
    content: "\e95e";
}

.icon-hs-he-heating-engineer:before {
    content: "\e95f";
}

.icon-hs-he-kitchens:before {
    content: "\e960";
}

.icon-hs-he-landscaper:before {
    content: "\e961";
}

.icon-hs-he-painter:before {
    content: "\e962";
}

.icon-hs-he-patios:before {
    content: "\e963";
}

.icon-hs-he-plasterer:before {
    content: "\e964";
}

.icon-hs-he-roofer:before {
    content: "\e965";
}

.icon-hs-he-window:before {
    content: "\e966";
}

.icon-hs-he-search-select:before {
    content: "\e967";
}

.icon-hs-he-quote:before {
    content: "\e968";
}

.icon-hs-star-o:before {
    content: "\e969";
}

.icon-hs-he-enlarge:before {
    content: "\e96a";
}

.icon-hs-he-value-for-money:before {
    content: "\e96b";
}

.icon-hs-he-quote-accuracy:before {
    content: "\e96c";
}

.icon-hs-he-calendar:before {
    content: "\e96d";
}

.icon-hs-arrow-right:before {
    content: "\e952";
}

.icon-hs-arrow-left:before {
    content: "\e953";
}

.icon-hs-arrow-up:before {
    content: "\e954";
}

.icon-hs-arrow-down:before {
    content: "\e955";
}

.icon-hs-nav-bars:before {
    content: "\e951";
}

.icon-hs-star:before {
    content: "\e941";
}

.icon-hs-equals:before {
    content: "\e942";
}

.icon-hs-existing-password:before {
    content: "\e943";
}

.icon-hs-new-password:before {
    content: "\e944";
}

.icon-hs-confirm-password:before {
    content: "\e945";
}

.icon-hs-email-address:before {
    content: "\e946";
}

.icon-hs-name:before {
    content: "\e947";
}

.icon-hs-initial:before {
    content: "\e948";
}

.icon-hs-policy-number:before {
    content: "\e949";
}

.icon-hs-postcode:before {
    content: "\e94a";
}

.icon-hs-street:before {
    content: "\e94b";
}

.icon-hs-card-digits:before {
    content: "\e94c";
}

.icon-hs-payment-frequency:before {
    content: "\e94d";
}

.icon-hs-enquiry:before {
    content: "\e94e";
}

.icon-hs-message:before {
    content: "\e94f";
}

.icon-hs-town-city:before {
    content: "\e950";
}

.icon-hs-video-chat:before {
    content: "\e93e";
}

.icon-hs-smiley-face:before {
    content: "\e93f";
}

.icon-hs-video-call:before {
    content: "\e940";
}

.icon-hs-boiler-health-check:before {
    content: "\e93a";
}

.icon-hs-smart-heating:before {
    content: "\e93b";
}

.icon-hs-smart-heating-tablet:before {
    content: "\e93c";
}

.icon-hs-payment-details:before {
    content: "\e93d";
}

.icon-hs-download:before {
    content: "\e939";
}

.icon-hs-plus:before {
    content: "\e938";
}

.icon-hs-add-policy:before {
    content: "\e92e";
}

.icon-hs-bright:before {
    content: "\e92f";
}

.icon-hs-cta-arrow:before {
    content: "\e930";
}

.icon-hs-dad:before {
    content: "\e931";
}

.icon-hs-document:before {
    content: "\e932";
}

.icon-hs-dry:before {
    content: "\e933";
}

.icon-hs-leakbot:before {
    content: "\e934";
}

.icon-hs-new-boiler:before {
    content: "\e935";
}

.icon-hs-pdplus:before {
    content: "\e936";
}

.icon-hs-tado:before {
    content: "\e937";
}

.icon-hs-register:before {
    content: "\e926";
}

.icon-hs-claims-history:before {
    content: "\e929";
}

.icon-hs-view-claim:before {
    content: "\e92a";
}

.icon-hs-no-claim:before {
    content: "\e92b";
}

.icon-hs-handy-hints:before {
    content: "\e92c";
}

.icon-hs-post-address:before {
    content: "\e92d";
}

.icon-hs-info-circle-o:before {
    content: "\e927";
}

.icon-hs-info-circle:before {
    content: "\e928";
}

.icon-hs-cross:before {
    content: "\e921";
}

.icon-hs-tick:before {
    content: "\e922";
}

.icon-hs-session-expired:before {
    content: "\e923";
}

.icon-hs-login:before {
    content: "\e924";
}

.icon-hs-logout:before {
    content: "\e925";
}

.icon-hs-register:before {
    content: "\e926";
}

.icon-hs-payment:before {
    content: "\e91f";
}

.icon-hs-time:before {
    content: "\e920";
}

.icon-hs-youtube-circle:before {
    content: "\e91a";
}

.icon-hs-customer-offers:before {
    content: "\e91b";
}

.icon-hs-facebook-circle:before {
    content: "\e91c";
}

.icon-hs-linked-in:before {
    content: "\e91d";
}

.icon-hs-twitter-circle:before {
    content: "\e91e";
}

.icon-hs-make-complaint:before {
    content: "\e916";
}

.icon-hs-claim:before {
    content: "\e917";
}

.icon-hs-move-house:before {
    content: "\e918";
}

.icon-hs-video:before {
    content: "\e919";
}

.icon-hs-aviva-arrow:before {
    content: "\e915";
}

.icon-hs-houses-flats:before {
    content: "\e914";
}

.icon-hs-advice:before {
    content: "\e900";
}

.icon-hs-boiler:before {
    content: "\e901";
}

.icon-hs-boiler-service:before {
    content: "\e902";
}

.icon-hs-cp12:before {
    content: "\e903";
}

.icon-hs-electrical-emergency:before {
    content: "\e904";
}

.icon-hs-electricals:before {
    content: "\e905";
}

.icon-hs-external-drains:before {
    content: "\e906";
}

.icon-hs-gas-central-heating:before {
    content: "\e907";
}

.icon-hs-gas-supply-pipe:before {
    content: "\e908";
}

.icon-hs-help:before {
    content: "\e909";
}

.icon-hs-help-circle:before {
    content: "\e90a";
}

.icon-hs-help-circle-o:before {
    content: "\e90b";
}

.icon-hs-internal-drains:before {
    content: "\e90c";
}

.icon-hs-ketchup:before {
    content: "\e90d";
}

.icon-hs-key:before {
    content: "\e90e";
}

.icon-hs-maintenance:before {
    content: "\e90f";
}

.icon-hs-pests:before {
    content: "\e910";
}

.icon-hs-plumbing:before {
    content: "\e911";
}

.icon-hs-security:before {
    content: "\e912";
}

.icon-hs-water-supply-pipe:before {
    content: "\e913";
}

.icon-hs-apartments-flats:before {
    content: "\e61f";
}

.icon-hs-alert:before {
    content: "\e600";
}

.icon-hs-boiler-flame:before {
    content: "\e601";
}

.icon-hs-call:before {
    content: "\e602";
}

.icon-hs-chat:before {
    content: "\e603";
}

.icon-hs-claim2:before {
    content: "\e605";
}

.icon-hs-contact-details:before {
    content: "\e606";
}

.icon-hs-contact-us:before {
    content: "\e607";
}

.icon-hs-cover:before {
    content: "\e608";
}

.icon-hs-customer:before {
    content: "\e609";
}

.icon-hs-customer-chat:before {
    content: "\e60a";
}

.icon-hs-date:before {
    content: "\e60b";
}

.icon-hs-edit:before {
    content: "\e60c";
}

.icon-hs-edit-policy:before {
    content: "\e60d";
}

.icon-hs-existing-customer:before {
    content: "\e60e";
}

.icon-hs-logo:before {
    content: "\e60f";
}

.icon-hs-policy:before {
    content: "\e610";
}

.icon-hs-product-finder:before {
    content: "\e611";
}

.icon-hs-profile:before {
    content: "\e612";
}

.icon-hs-renew1:before {
    content: "\e613";
}

.icon-hs-renew2:before {
    content: "\e614";
}

.icon-hs-renew-policy:before {
    content: "\e615";
}

.icon-hs-repair:before {
    content: "\e616";
}

.icon-hs-repair2:before {
    content: "\e617";
}

.icon-hs-repair-date:before {
    content: "\e618";
}

.icon-hs-sms:before {
    content: "\e619";
}

.icon-hs-text:before {
    content: "\e61a";
}

.icon-hs-to-let-sign:before {
    content: "\e61b";
}

.icon-hs-tracking:before {
    content: "\e61c";
}

.icon-hs-ubend:before {
    content: "\e61d";
}

.icon-hs-view-policy:before {
    content: "\e61e";
}

/*Sizes*/
.icon-hs-05x {
    font-size: 0.5rem !important;
}

.icon-hs-1-5x {
    font-size: 1.5rem !important;
}

.icon-hs-2x {
    font-size: 2rem !important;
}

.icon-hs-2-5x {
    font-size: 2.5rem !important;
}

.icon-hs-3x {
    font-size: 3rem !important;
}

.icon-hs-3-5x {
    font-size: 3.5rem !important;
}

.icon-hs-4x {
    font-size: 4rem !important;
}

.icon-hs-4-5x {
    font-size: 4.5rem !important;
}

.icon-hs-5x {
    font-size: 5rem !important;
}