@keyframes slideup-fadein {
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity:1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity:0;
  }
}