ul {
    & > li::marker {
        color: $teal-900;
    }

    &.included, &.excluded, &.crosses {
        & > li {
            list-style: none; padding-left: 0.5rem; font-weight: 600;

            &::marker {
                font-family: "HomeServe-Icons"; font-size: 1.2rem;
            }
        }
    }

    &.included {
        & > li {
            &::marker {content: "\e922"; color: $red-500;}
        }
        &.icons-success {
            & > li {
                &::marker {color: $success;}
            }
        }
    }

    &.excluded {
        & > li {
            &::marker {content: "\e931"; color: $gray-300;}
        }
    }

    &.crosses {
        & > li {
            &::marker {content: "\e921"; color: $red-500;}
        }
    }
}

//Comparison Pages Lists
.comparison-card {
    & ul {
        padding-left: 1rem;
        
        .excluded {
            & > li {
                font-weight: normal !important; color: $gray-500;
            }
        }
    }
}