.skeleton {
  background: hsl(200, 20%, 90%);
  border-radius: 0.5rem;
  height: 1em;
  width: 100%;
  animation: skeleton 1s infinite alternate ease-in-out;
}

.skeleton + .skeleton:last-child {
  width: 75%;
}
.skeleton + .skeleton {
  margin-top: 1rem;
  width: 100%;
}

.skeleton-btn {
  height: 3rem;
  width: 8rem;
  margin: 0 auto;
}
.skeleton-input {
  height: 3rem;
  border: 0.125rem solid black;
}

@keyframes skeleton {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
