.hero-bg {
  background-color: #eee;
  background-repeat: no-repeat;
}
.hero-content {
  padding-left: 1rem;
  padding-right: 1rem;
}
.sales-msg {
  background-image: linear-gradient(158deg, #00698b 0%, #00779f 100%);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
}

@media (min-width: 576px) {
  .hero-bg {
    background-size: cover;
    min-height: 420px;
    background-position-x: -185px;
    background-position-y: 0;
  }
  .hero-content {
    padding-left: 3rem;
  }
}

@media (min-width: 768px) {
  .hero-bg {
    background-size: cover;
    min-height: 420px;
    background-position-x: -100px;
    background-position-y: -20px;
  }
  .hero-content {
    padding-left: 3rem;
  }
}

@media (min-width: 992px) {
  .hero-bg {
    background-size: auto;
    min-height: 380px;
    background-position-x: -275px;
    background-position-y: -175px;
  }
  .hero-content {
    padding-left: 5rem;
  }
}

@media (min-width: 1200px) {
  .hero-bg {
    min-height: 400px;
    background-position-x: -150px;
    background-position-y: -175px;
  }
  .hero-content {
    padding-right: 3rem;
  }
}

@media (min-width: 1400px) {
  .hero-bg {
    background-size: cover;
    min-height: 420px;
    background-position-x: unset;
    background-position-y: -155px;
  }
}

@media (min-width: 1600px) {
  .hero-bg {
    background-size: cover;
    min-height: 420px;
    background-position-y: -195px;
  }
}
